.carousel-item {
  height: 660px;
}

body {
  height: 1800px;
}

.carousel-item .display-4 {
  margin-top: -400px;
}

hr {
  width: 150px;
  border-top: 3px white solid;
}

.menu {
  background-color: rgb(255, 255, 255);
}
